name: Job Scanner

on:
  schedule:
    - cron: "0 8 * * 1,3,5"   # Runs Mon, Wed, Fri at 08:00 UTC = 09:00 WAT
  workflow_dispatch:

jobs:
  scan-jobs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run scanner
        env:
          EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
        run: python scraper.py
